{:name "ui-math"
 :clj-require []
 :theme {:available {}
         :current {}}
 :cljs-namespace [pinkgorilla.math.math]
 :cljs-bindings {'math pinkgorilla.math.math/math
                 'do-not-use-render-math pinkgorilla.math.math/render-math ; for advanced compile
                 }
 :cljs-ns-bindings {}
 :pinkie {:p/math pinkgorilla.math.math/math}
 :lazy false ; getMetrixfor not found otherwise
 :snippets [{:type :pinkie
             :category :math
             :id :math
             :filename "snippets/math/math.edn"}]}